body{
    background-color:lightyellow;
    color:black;
}

.navbar{
    background-color:lightgreen;
    }
.navbar-brand{
    font-size:2em;
    }
.navbar-nav{
   background-color:lightblue;
   text-align:center;
}

#menu-header{
	text-align:center;
	bottom-margin:15px;
    }
.container .row{
/*    color:blue;
*/
}

section p{
    font-size:1.6em;
}
section h2{
    width:100%;
    text-align:center;
    }





